@mixin font($family, $size, $color, $weight) {
  font-family: $family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin border($position, $size) {
  border-#{$position}: $size solid $gray;
}

@mixin padding($top: 0, $right: 0, $bottom: $top, $left: $right) {
  padding: $top $right $bottom $left;
}
