// vars
$main-black: #121212;
$main-white: #fff;
$gray: #e8e8e8;
$blue: #1f95ff;
$font-black: #585757;
$font-white: #b8b8b8;
$light-blue: #e5f3ff;
$search-dark: #052541;

// fonts
$inter-font: 'Inter';
$roboto-font: 'Roboto';
