// colors
$main-black: #121212;
$main-white: #fff;
$gray: #e8e8e8;
$blue: #1f95ff;
$font-black: #585757;
$font-white: #b8b8b8;
$light-blue: #e5f3ff;
$search-dark: #052541;
$body-dark: #1c1c1c;

// fonts
$inter-font: 'Inter';
$roboto-font: 'Roboto';

// font-size
$fs-16: 16px;
$fs-48: 48px;
