.white-background {
  background-color: $main-white;
}

.black-background {
  background-color: $main-black;
}

.black-body-background {
  background-color: $body-dark;
}

.light-blue-background {
  background-color: $light-blue;
}

.dark-blue-bakcground {
  background-color: $search-dark;
}

.black-font {
  color: $font-black !important;
}

.white-font {
  color: $font-white !important;
}
