.tabs {
  width: 100%;
  padding: 40px 50px 0;
  display: flex;
  gap: 45px;

  &__tab {
    padding: 0 9px 8px;
    cursor: pointer;
    font-weight: 500;

    &.router-link-exact-active {
      color: $main-blue;
      border-bottom: 2px solid $main-blue;
    }

    &:hover {
      text-decoration: none;
    }

    &--active {
      color: $main-blue;
      border-bottom: 2px solid $main-blue;
    }
  }
}
